* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
main {
  background-color: aliceblue;
}
header {
  background-image: url(images/header.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  color: white;
  padding: 16px 50px;
}
.nav-list {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.nav-list li:hover {
  border-bottom: 2px solid rgb(136, 170, 237);
  cursor: pointer;
}
li {
  list-style: none;
}
button {
  padding: 16px;
  color: white;
  background-color: rgb(136, 170, 237);
  font-size: 24px;
  font-weight: 900;
  border-radius: 20px 40px;
  border: none;
  cursor: pointer;
}
button:hover {
  padding: 16px;
  color: white;
  background-color: rgb(1, 155, 175);
  font-size: 24px;
  font-weight: 900;
  border-radius: 40px 20px;
  border: none;
  cursor: pointer;
}
.header-content {
  margin: 150px auto;
  width: 40%;
  text-align: center;
  color: white;
  opacity: 0.9;
}
.title {
  font-size: 42px;
  margin-bottom: 30px;
}
.description {
  font-size: 20px;
  margin-bottom: 30px;
}
.main-container {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 80px 40px;
}
.strong-word {
  color: rgb(1, 155, 175);
}
em {
  font-weight: 600;
}
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px;
}
.card {
  text-align: center;
  width: 40%;
  height: 450px;
  padding: 30px;
}
.card-img {
  height: 300px;
  width: 400px;
  border-radius: 10px;
}
.card-title {
  font-size: 22px;
  margin: 10px 0px;
  color: rgb(136, 170, 237);
}
.card-description {
  margin: 10px 0px;
  padding: 4px;
}

.card-link {
  text-decoration: none;
}
.footer-top {
  background-color: rgb(51, 50, 50);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.footer-buttom {
  background-color: black;
}

.logo {
  font-size: 50px;
  background-color: white;
  border-radius: 50%;
  padding: 20px;
}
.footer-description {
  font-size: 15px;
  color: white;
  text-align: center;
  padding: 120px 0 40px;
}
.powered-by {
  color: white;

  text-align: center;
  padding-bottom: 80px;
}
